container_commands:
  01_collectstatic:
    command: |
        source $PYTHONPATH/activate
        pipenv run python ./manage.py collectstatic --noinput
  02_migrate:
    command: |
      source $PYTHONPATH/activate
      pipenv run python ./manage.py migrate
option_settings:
  aws:elasticbeanstalk:application:environment:
    WSGIPath: MozioPolygons.wsgi:application
    DJANGO_SETTINGS_MODULE: MozioPolygons.settings
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
  aws:elasticbeanstalk:container:python:
    WSGIPath: MozioPolygons.wsgi:application